.tableNameWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.draggableCard {
  padding-block: 10px;
}

.blackBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14px;
  height: 14px;
  padding: 2px 2px;

  border: 2px solid black;

  & > * {
    display: block;
    height: 1px;
    width: auto;
    background-color: black;
  }
}
