*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.App {
  text-align: center;
  height: 100vh;
}

body {
    --primary-shade-dark: #018fcf;
    --primary-shade-light: #81abc9;
    --secondary-shade-dark: #cccdcd;
    --secondary-shade-light: #f4f2f2;
}

.App-link {
  color: #61dafb;
}

.react-resizable-handle-e {
    display: block;
    position: absolute;
    width: 4px;
    height: calc(100% - 10px);
    background-color: transparent;
    background-color: transparent;
    top: 5px;
    right: -2px;
    cursor: e-resize;
}

.react-resizable-handle-s {
    display: block;
    position: absolute;
    height: 4px;
    width: calc(100% - 10px);
    background-color: transparent;
    bottom: -2px;
    left: 5px;
    cursor: s-resize;
}

.react-resizable-handle-se {
    display: block;
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: transparent;
    right: -3px;
    bottom: -3px;
    cursor: se-resize;
}
